.bgc {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 100vh;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 14px;

  width: 50vw;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 48px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

h1 {
  color: #ff8542;
}
.todo-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
